<!--controller vars go here -->
{{companyChosen}}
{{imageString}}

<ul class="circle">
    <p> This is supposed to be the course logo, did not apply css.</p>
    <img src="logo.png">
</ul>


<div class="container">
	<button type="button" class="btn btn-primary btn-lg">
		{{#link-to 'addNewPost' }}Add New Company{{/link-to}}

	</button>

    <table id="stocksummary" class="table table-hover table-bordered">
        <thead>
        <tr>

            <th>
                Company
            </th>
            <th>
                Open Price
            </th>
            <th>
                Current Price
            </th>
            <th>Change Net - % </th>
            <th>
                Share Volume
            </th>
            <th>
				<!-- buttons go here -->
            </th>
        </tr>
        </thead>


	    <!--this is needed to make the table-hover and table-bordered shit to work probably due to ember-->
	    <tr>
        </tr>


        <!-- Dynamically generate the rest-->
	    {{#each item in model}}
        <tr>
				<th>
					<a  {{action 'showThisShit' item.imageName }}> {{item.name}} </a>
				</th>
				<th>
					{{item.openPrice}}
				</th>
                <th>
					{{item.lastSale}}
                </th>
                <th>
					{{item.changeNet}}
                </th>
                <th>
					{{item.shareVolume}}
                </th>
        </tr>
	    {{/each}}
    </table>

    <div class = "row">
        <div class = "col-lg-5">
            <h3> Market By Order</h3>
            <table class = "table table-striped">
                <thead>
                <tr>
                    <th colspan ="2">
                        Buy
                    </th>
                    <th colspan = "2">
                        Sell
                    </th>
                </tr>
                <tr>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Price</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class = "col-lg-5">
            <h3> Market By Price</h3>
            <table class = "table table-striped">
                <thead>
                <tr>
                    <th colspan ="2">
                        Buy
                    </th>
                    <th colspan = "2">
                        Sell
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>#</th>
                </tr>
                </thead>
            </table>
        </div>

	    <div class = "col-lg-2">
		    <h3> Company Logo </h3>

		    {{#if companyChosen }}
                <img {{bind-attr src=imageString}} width="150">
			{{/if}}
	    </div>

    </div>
</div>
{{#link-to 'addNewPost' class="button round" }}Add New Post{{/link-to}}



