<ul class="circle">
    <p> This is supposed to be the course logo, did not apply css.</p>
    <img src="logo.png">
</ul>


<div class="container">
	<button type="button" class="btn btn-primary btn-lg">
		{{#link-to 'addNewPost' }}Add New Company{{/link-to}}

	</button>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>
                Company
            </th>
            <th>
                Open Price
            </th>
            <th>
                Current Price
            </th>
            <th>Change Net - % </th>
            <th>
                Share Volume
            </th>
            <th>
				<!-- buttons go here -->
            </th>
        </tr>
        </thead>
        <!-- Dynamically generate the rest-->
	    {{#each item in model}}
        <tr>
				<th>
					{{#link-to 'post' item.id}}{{item.name}}{{/link-to}}
				</th>
				<th>
					{{#link-to 'post' item.id}}{{item.openPrice}}{{/link-to}}
				</th>
                <th>
					{{#link-to 'post' item.id}}{{item.lastSale}}{{/link-to}}
                </th>
                <th>
					{{#link-to 'post' item.id}}{{item.changeNet}}{{/link-to}}
                </th>
                <th>
					{{#link-to 'post' item.id}}{{item.shareVolume}}{{/link-to}}
                </th>
        </tr>
	    {{/each}}
    </table>
    <div class = "row">
        <div class = "col-lg-6">
            <h3> Market By Order</h3>
            <table class = "table table-striped">
                <thead>
                <tr>
                    <th colspan ="2">
                        Buy
                    </th>
                    <th colspan = "2">
                        Sell
                    </th>
                </tr>
                <tr>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Price</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class = "col-lg-6">
            <h3> Market By Price</h3>
            <table class = "table table-striped">
                <thead>
                <tr>
                    <th colspan ="2">
                        Buy
                    </th>
                    <th colspan = "2">
                        Sell
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>#</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{{#link-to 'addNewPost' class="button round" }}Add New Post{{/link-to}}



